'fileTypes': [
  'diff'
  'patch'
  'rej'
]
'firstLineMatch': '(?x)^\n\t\t(===\\ modified\\ file\n\t\t|==== \\s* // .+ \\s - \\s .+ \\s+ ====\n\t\t|Index:\\ \n\t\t|---\\ [^%\\n]\n\t\t|\\*\\*\\*.*\\d{4}\\s*$\n\t\t|\\d+(,\\d+)* (a|d|c) \\d+(,\\d+)* $\n\t\t|diff\\ --git\\ \n\t\t|commit\\ [0-9a-f]{40}$\n\t\t)'
'name': 'Diff'
'patterns': [
  {
    'captures':
      '1':
        'name': 'punctuation.definition.separator.diff'
    'match': '^((\\*{15})|(={67})|(-{3}))$\\n?'
    'name': 'meta.separator.diff'
  }
  {
    'match': '^\\d+(,\\d+)*(a|d|c)\\d+(,\\d+)*$\\n?'
    'name': 'meta.diff.range.normal'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.range.diff'
      '2':
        'name': 'meta.toc-list.coordinates.diff'
      '3':
        'name': 'punctuation.definition.range.diff'
    'match': '^(@@)\\s*(.+?)\\s*(@@)($\\n?)?'
    'name': 'meta.diff.range.unified'
  }
  {
    'captures':
      '3':
        'name': 'punctuation.definition.range.diff'
      '4':
        'name': 'punctuation.definition.range.diff'
      '6':
        'name': 'punctuation.definition.range.diff'
      '7':
        'name': 'punctuation.definition.range.diff'
    'match': '^(((\\-{3}) .+ (\\-{4}))|((\\*{3}) .+ (\\*{4})))$\\n?'
    'name': 'meta.diff.range.context'
  }
  {
    'match': '^diff --git a/.*$\\n?'
    'name': 'meta.diff.header.git'
  }
  {
    'match': '^diff (-|\\S+\\s+\\S+).*$\\n?'
    'name': 'meta.diff.header.command'
  }
  {
    'captures':
      '4':
        'name': 'punctuation.definition.from-file.diff'
      '6':
        'name': 'punctuation.definition.from-file.diff'
      '7':
        'name': 'punctuation.definition.from-file.diff'
    'match': '(^(((-{3}) .+)|((\\*{3}) .+))$\\n?|^(={4}) .+(?= - ))'
    'name': 'meta.diff.header.from-file'
  }
  {
    'captures':
      '2':
        'name': 'punctuation.definition.to-file.diff'
      '3':
        'name': 'punctuation.definition.to-file.diff'
      '4':
        'name': 'punctuation.definition.to-file.diff'
    'match': '(^(\\+{3}) .+$\\n?| (-) .* (={4})$\\n?)'
    'name': 'meta.diff.header.to-file'
  }
  {
    'captures':
      '3':
        'name': 'punctuation.definition.inserted.diff'
      '6':
        'name': 'punctuation.definition.inserted.diff'
    'match': '^(((>)( .*)?)|((\\+).*))$\\n?'
    'name': 'markup.inserted.diff'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.changed.diff'
    'match': '^(!).*$\\n?'
    'name': 'markup.changed.diff'
  }
  {
    'captures':
      '3':
        'name': 'punctuation.definition.deleted.diff'
      '6':
        'name': 'punctuation.definition.deleted.diff'
    'match': '^(((<)( .*)?)|((-).*))$\\n?'
    'name': 'markup.deleted.diff'
  }
  {
    'match': '^index [0-9a-f]{7,40}\\.\\.[0-9a-f]{7,40}.*$\\n?'
    'name': 'meta.diff.header.index.git'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.separator.key-value.diff'
      '2':
        'name': 'meta.toc-list.file-name.diff'
    'match': '^Index(:) (.+)$\\n?'
    'name': 'meta.diff.index'
  }
  {
    'match': '^Only in .*: .*$\\n?'
    'name': 'meta.diff.only-in'
  }
  {
    'captures':
      '2':
        'name': 'punctuation.definition.inserted.diff'
      '4':
        'name': 'punctuation.definition.deleted.diff'
    'match': '^\\s(.*)\\s*\\|\\s*\\d*\\s((\\+)*)((\\-)*)$\\n?'
    'name': 'meta.header.git.file'
  }
  {
    'match': '^new file mode \\d*$\\n?'
    'name': 'meta.diff.header.newfilemode'
  }
  {
    'match': '^deleted file mode \\d*$\\n?'
    'name': 'meta.diff.header.deletedfilemode'
  }
  {
    'captures':
      '1':
        'name': 'meta.mail.commit'
    'match': '^From\\s([0-9a-f]*)\\s\\w{3}\\s\\w{3}\\s\\d*\\s\\d{2}:\\d{2}:\\d{2}\\s\\d{4}$\\n?'
    'name': 'meta.mail.commitline'
  }
  {
    'captures':
      '2':
        'name': 'meta.mail.address'
      '3':
        'name': 'meta.mail.name'
      '4':
        'name': 'meta.mail.email'
    'match': '^(.*):\\s((.*)(<(.*)@(.*)\\.(.*)>))$\\n?'
    'name': 'meta.mail.addressline'
  }
  {
    'captures':
      '1':
        'name': 'meta.mail.date'
    'match': '^Date:\\s(\\w{3}*,\\s\\d*\\s\\w{3}\\s\\d{4}\\s\\d{2}:\\d{2}:\\d{2}\\s\\-\\d{4})$\\n?'
    'name': 'meta.mail.dateline'
  }
  {
    'captures':
      '1':
        'name': 'meta.mail.subject'
    'match': '^Subject:\\s(.*)$\\n?'
    'name': 'meta.mail.subjectline'
  }
]
'scopeName': 'source.diff'
