@import "syntax-variables";
atom-text-editor {
  .syntax--diff {
    &.syntax--inserted {
      color: @syntax-color-added;
    }

    &.syntax--changed {
      color: @syntax-color-modified;
    }

    &.syntax--deleted {
      color: @syntax-color-removed;
    }

    &.syntax--only-in {
      // we don't have any methods in diff, so we can safely use this color
      color: @syntax-color-method;
      font-weight: bold;
    }

    &.syntax--range.syntax--unified,
    &.syntax--toc-list.syntax--coordinates {
      color: @syntax-color-import;
    }

    &.syntax--header {
      color: @syntax-color-method;
    }

    .syntax--mail.syntax--label {
      color: @syntax-gutter-text-color;
    }

    &.syntax--punctuation.syntax--definition {
      &.syntax--separator {
        color: @syntax-gutter-text-color;
      }
    }
  }
}
